{% extends 'blog/base.html' %}

{% block content %}

    <article>
        {% if post.publish_date %}
            <time>
                {{ post.publish_date }}
            </time>>
        {% endif %}

        <h2>{{post.title}}</h2>
        <p>{{post.content}}</p>
        <h4>{{post.create_date}}</h4>
            
    </article>

    <a class="btn btn-primary" href="{% url 'edit_post' id=post.id %}" style="">Edit Post</a>
    <a class="btn btn-danger" href="{% url 'delete_post' id=post.id %}" style="">Delete Post</a>

{% endblock %}